.custom-editor .ql-container {
    height: 415px; 
    max-width: 650px;
  }
  
.custom-editor .ql-editor {
    height: 415px; /* Adjust editor's typing area */
    overflow-y: auto; /* Ensure scrolling if content exceeds height */
  }
  